/*-- Change values in init.lua too --*/

list {
	min-height: 350px;
}

* {
	all: unset;
	font-family: sans-serif;
}

.list-item {
	/* background-color: #f2e9de; */
	background-color: #222;
	padding: 8px;
	outline-color: #fff;
	/* color: #575279; */
}

textview {
	padding: 16px;
	background-color: #333;
	/* background: #575279; */
	font-family: monospace;
}

window {
	/* background-color: #f2e9de; */
	background-color: #222;
}

row:selected .list-item, .list-item:hover  {
	/* background: #eee9e6; */
	background-color: #444;
}

label {
	padding-left: 5px;

}

.search-bar {
	min-width: 100px;
}

/*-- Used for find in file source --*/
.file-title {
	font-size: 14px;
	font-weight: bold;
}

.preview-panel {
	/* border-left: 1px solid 	#6e6a86; */
}

entry {
	padding: 8px;
	min-height: 50px;
}

.mode-button {
	padding: 8px;
}

entry,.count {
	/* color: #6e6a86; */
	/* background: #fffaf3; */
	background: #111;
}

entry image {
	padding-right: 8px;
}
