/*-- Change values in init.lua too --*/

list {
	min-height: 350px;
}

* {
	all: unset;
	font-family: sans-serif;
}

button {
	background-color: #222;
	padding: 8px;
	outline-color: #fff;
}

window {
	background-color: #222;
}

row:selected button, button:hover  {
	background: #333;
}

label {
	padding-left: 5px;

}

.search-bar {
	min-width: 100px;
}

entry {
	padding: 8px;
	min-height: 50px;
}
entry,.count {
	background: #111;
}

entry image {
	padding-right: 8px;
}
