/*-- Change values in init.lua too --*/

list {
	min-height: 350px;
	background: inherit;
}

* {
	/* all: unset; */
	font-family: sans-serif;
	color: #fafafa;
}

.list-item {
	/* background-color: #f2e9de; */
	background-color: #222;
	padding: 8px;
}

.list-item, row, entry {
	border: 0;
	background: none;
	border-radius: 0;
	box-shadow: none;
	outline: 0;
	text-shadow: none;
	/* color: #575279; */
}

textview {
	padding: 16px;
	background-color: #333;
	/* background: #575279; */
	font-family: monospace;
}

window {
	/* background-color: #f2e9de; */
	background-color: #222;
}

row:selected .list-item, .list-item:hover  {
	/* background: #eee9e6; */
	background-color: #444;
}

label {
	padding-left: 5px;

}

.search-bar {
	min-width: 100px;
}

/*-- Used for find in file source --*/
.file-title {
	font-size: 14px;
	font-weight: bold;
}

.preview-panel {
	border-left: 1px solid #111;
}

.preview-content {
	padding: 20px;
}

.mode-switcher {
	border-right: 1px solid #444;
	border-radius: 8px 0 8px 0;
	background: #333;
	padding-top: 20px;
}

entry {
	padding: 8px;
	min-height: 50px;
	border: none;
	border-radius: 0;
	outline: none;
	border-top: 1px solid #444;
	border-left: 1px solid #444;
}

.source-text {
	font-size: 11px;
	color: #888;
}

.mode-button {
	padding: 8px;
}

entry,.count {
	/* color: #6e6a86; */
	/* background: #fffaf3; */
	background: #111;
}

entry image {
	padding-right: 8px;
}
