* {
	all: unset;
}

window {
	background: #262322;
}

.item {
	padding: 0 5px;
	margin: 8px;
	border-radius: 5px
}

.item.selected {
	background: #555;
}

.selected-label {
	font-family: "Victor Mono";
	font-style: italic;
	min-width: 158px;
}

entry {
	margin: 8px;
	padding: 0 8px;
	border: 1px solid #888;
	border-radius: 16px;
}
