window {
	background: #252221;
}

.item {
	background: none;
	padding: 0 5px;
	margin: 8px;
}

.item.selected {
	background: #3d3837;
}

.selected-label {
	font-family: "Victor Mono";
	font-style: italic;
	min-width: 158px;
}

entry {
	margin: 8px;
	padding: 0 8px;
	background: #262322;
}

entry image:last-child {
	color: transparent;
}

button image {
	margin-right: 8px;
}

entry image { margin-right: 8px; }
